.banner {
  background-color: #f8edeb;
}
.footerContainer {
  background-color: #f63e7b;
}
.fb {
  color: #f63e7b;
}
.yt {
  color: white;
  background-color: #f63e7b;
}
.yt1 {
  border-color: #f63e7b;
  background-color: #f63e7b;
}
.ytText {
  color: #f63e7b;
}
